<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>AuthServlet</servlet-name>
    <servlet-class>com.revature.request.AuthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthServlet</servlet-name>
    <url-pattern>/AuthServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.revature.request.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmpCountServlet</servlet-name>
    <servlet-class>com.revature.request.EmployeeCountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpCountServlet</servlet-name>
    <url-pattern>/EmployeeCountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>showEmployeeReimbursmentsServlet</servlet-name>
    <servlet-class>com.revature.request.showEmployeeReimbursmentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showEmployeeReimbursmentsServlet</servlet-name>
    <url-pattern>/showEmployeeReimbursmentsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>submitReimbursementServlet</servlet-name>
    <servlet-class>com.revature.request.submitReimbursementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>submitReimbursementServlet</servlet-name>
    <url-pattern>/submitReimbursementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>showReimbursmentsServlet</display-name>
    <servlet-name>showReimbursmentsServlet</servlet-name>
    <servlet-class>com.revature.request.showReimbursmentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showReimbursmentsServlet</servlet-name>
    <url-pattern>/showReimbursmentsServlet</url-pattern>
  </servlet-mapping>
</web-app>