<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>AuthServlet</servlet-name>
    <servlet-class>com.revature.request.AuthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthServlet</servlet-name>
    <url-pattern>/auth</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.revature.request.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmpCountServlet</servlet-name>
    <servlet-class>com.revature.request.EmployeeCountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpCountServlet</servlet-name>
    <url-pattern>/get/employee/count</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ClaimCountServlet</servlet-name>
    <servlet-class>com.revature.request.ClaimCountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClaimCountServlet</servlet-name>
    <url-pattern>/get/claim/count</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmpClaimCountServlet</servlet-name>
    <servlet-class>com.revature.request.EmpClaimCountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpClaimCountServlet</servlet-name>
    <url-pattern>/get/empclaim/count</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ClaimStatusServlet</servlet-name>
    <servlet-class>com.revature.request.ClaimStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClaimStatusServlet</servlet-name>
    <url-pattern>/claim/status</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SetStatusServlet</servlet-name>
    <servlet-class>com.revature.request.SetStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetStatusServlet</servlet-name>
    <url-pattern>/set/status</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>showEmployeeReimbursmentsServlet</servlet-name>
    <servlet-class>com.revature.request.showEmployeeReimbursmentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showEmployeeReimbursmentsServlet</servlet-name>
    <url-pattern>/showEmployeeReimbursmentsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>submitReimbursementServlet</servlet-name>
    <servlet-class>com.revature.request.submitReimbursementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>submitReimbursementServlet</servlet-name>
    <url-pattern>/submitReimbursementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>showReimbursmentsServlet</servlet-name>
    <servlet-class>com.revature.request.showReimbursmentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showReimbursmentsServlet</servlet-name>
    <url-pattern>/all/claim</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmployeeServlet</servlet-name>
    <servlet-class>com.revature.request.EmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeServlet</servlet-name>
    <url-pattern>/EmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FinanceManagerServlet</servlet-name>
    <servlet-class>com.revature.request.FinanceManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinanceManagerServlet</servlet-name>
    <url-pattern>/FinanceManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.revature.request.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FinanceManagerApproveDeny</servlet-name>
    <servlet-class>com.revature.request.FinanceManagerApproveDeny</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinanceManagerApproveDeny</servlet-name>
    <url-pattern>/FinanceManagerApproveDeny</url-pattern>
  </servlet-mapping>
</web-app>